

{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}
    {% translate "Login" %}
{% endblock %}



{% block whitebox %}


    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Your Password" />
        
        <button type="submit">Login</button>
        {% translate "Login" as signout_message %}
    </form>
{% endblock %}




